<%= form_with model: [:admin, build] do |f| %>
  <% build.errors.each do |e| %><p><%= e.full_message %></p><% end %>
  <p><%= f.label :title %><%= f.text_field :title %></p>
  <p><%= f.label :slug %><%= f.text_field :slug %></p>
  <p><%= f.label :description %><%= f.text_area :description %></p>
  <p><%= f.label :url %><%= f.url_field :url %></p>
  <p><%= f.label :icon_emoji %><%= f.text_field :icon_emoji %></p>
  <p><%= f.label :status %><%= f.select :status, Build::STATUSES %></p>
  <p><%= f.label :kind %><%= f.select :kind, Build::KINDS %></p>
  <p><%= f.label :position %><%= f.number_field :position %></p>
  <p><%= f.label :started_on %><%= f.date_field :started_on %></p>
  <p><%= f.label :finished_on %><%= f.date_field :finished_on %></p>
  <%= f.submit %>
<% end %>
